.footercv{
    position: absolute;
    left: 0;
    top:115%;
    width: 100%;
    height: 30%;
    background-color: darkorange;
}

.footerprojets{
    position: absolute;
    left: 0;
    top:240%;
    width: 100%;
    height: 30%;
    background-color: darkorange;
}

.footercgj4{
    position: absolute;
    left: 0;
    top:260%;
    width: 100%;
    height: 30%;
    background-color: darkorange;
}

.footerduts1{
    position: absolute;
    left: 0;
    top:455%;
    width: 100%;
    height: 30%;
    background-color: darkorange;
}

.footernuit2019{
    position: absolute;
    left: 0;
    top:305%;
    width: 100%;
    height: 30%;
    background-color: darkorange;
}

.footerisn{
    position: absolute;
    left: 0;
    top:230%;
    width: 100%;
    height: 30%;
    background-color: darkorange;
}


.txtmain{
    text-align: justify;
    font-size: 1.2vw;
    font-family: Arial;
    transform: translate(15%);
    margin-right: 15%;

}

.txtmainbold{
    margin-top: 2%;
    text-align: justify;
    font-size: 1.2vw;
    font-family: Impact,sans-serif;
    transform: translate(15%);
    margin-right: 15%;

}

.imgfooter2{
    float:left;
    margin-top: 0.75%;
    position: relative;
    max-height: 90%;
    max-width:30%;
    transform: translate(50%);
    border-radius: 50%;
}

.btnfooter{
    position: relative;
    left: 12.7%;
}