body{
	background-color: white;		
	margin: auto;
	font-family: Helvetica, Arial, sans-serif;
}

footer {
	background-color: #D5D5D5;
	text-align: center;
	margin: auto;
	padding-bottom: 30px;
	padding-top: 30px;
	color: black;
	scroll-behavior: smooth;
}

footer a {
	text-decoration: none;
	color: black;
}

#gradient {
	padding: 30px;
}

#goTop {
	margin: 20px;
	text-decoration: underline;
	cursor: pointer;
}

.master {
	margin: 0 20px;
	display: flex;
	justify-content: space-around;
}

.master > div {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.network_logo_div {
	display: flex;
	justify-content: space-around;
}

.network_logo {
	width: 40px;
}

.master .networks-bas{
	display: none;
}

.master .networks{
	display: block;
}