header{
	background-color : #D5D5D5;
	margin:auto;
	position: fixed;
	width: 100%;
	top : 0%;
	left: 0%;
	font-family: Helvetica, Arial, sans-serif;
}

nav{	
	text-align: center;
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 10px, 0px;
	font-size: 18px;
}

#menuDeroulant{
	display: inline-flex;
	flex-flow: row;
    margin: auto;
    background-color: transparent;
    width: 80%;
    justify-content: center;
    padding: 0;
}

#deroulant{
	display: inline-flex;
	flex-flow: row;
    margin: auto;
    background-color: transparent;
    width: 100%;
    justify-content: center;
    padding: 0;
}

li{
	list-style: none;
}


a{
    text-decoration: none;
	color:#000;
}

.gauche{
	width: 20%;
	background-color: transparent;
}

.gaucheResponsive{
	display: none;
}

.droite{
	background-color: transparent;
	width: 20%;
	display: flex;
	text-align:right;
	justify-content: flex-end;
}

.compte-panier{
	display: none;
}

.clearleft{
	padding: 4% 5%;
	margin: 0% 0% 0% 5%;
	float:left;
	width: 17%;
	background-color: transparent;
}

.clearright{
	padding: 10% 5%;
	margin: 0% 40% 0% 0%;
	display: inline-block;
	background-color: transparent;
	width: 50px;
	float: right;
	border-bottom : 3px solid transparent;
}

.clearright:hover{
	border-bottom-color: #04688F;
	transition : border-bottom 0.7s;
}

.title{
	padding: 2% 0%;
	margin: 0%;
	margin-left: 2%;
	margin-right: 2%;
	font-weight: bold;
	border-bottom : 3px solid transparent;
	background-color: transparent;
}

.title:hover{
	border-bottom-color: #04688F;
	transition : border-bottom 0.7s;
}

.border-bottom-contact{
	border-color: #04688F;
}


li:hover > ul {
    display: block;
}

.menuProduit{
	text-align:left;
    background-color: #D5D5D5;
    position: absolute;
    display: none;
    z-index: 1000;
    padding: 5px;
    top: 99%;
    margin:auto;
    transform: translate( -25%, 0) ;

}

.menuRejoindre{
	text-align:left;
    background-color: #D5D5D5;
    position: absolute;
    display: none;
    z-index: 1000;
    padding: 5px;
    top: 100%;
    margin:auto;
    transform: translate( -22%, 0) ;
}

.sous{
	padding: 2px;
	margin: 8px;
	display: block;
	font-weight : none;
	border-bottom : 2px solid transparent;
	border-top: 2px solid transparent;
}

.sous:hover{
	border-bottom-color: #04688F;
}

#menuDeroulant input{
	display: none;
}

span{
	display: none;
}

