body{
	margin: auto;
}

main {
	background-color: #CCC;
	margin: 16px 10%;
	margin-top: 100px;
	border: solid black 2px;
	border-radius: 5px;
	padding: 16px;

	display: flex;
	flex-direction: column;

	text-align: justify;
}

h1 {
	text-align: center;
	margin: 0 10%;
	border-bottom: solid black 1px;
	border-radius: 5px;
	margin-bottom: 16px;
	font-size: 28px;
}

div{
	padding: 0 5px;
}

main div:nth-child(odd):not(#offer):not(#jobs){
	border-left: solid black 5px;
	margin-right: 10%;
}

main div:nth-child(even):not(#offer):not(#jobs){
	border-right: solid black 5px;
	text-align: right;
	margin-left: 10%;
}

#offer{
	text-align: center;
}

#offer a{
	color: black;
}

#offer a:hover{
	text-decoration: none;
	color: black;
}

#jobs{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

button {
	background-color: white;
	color: black;
	padding: 16px 32px;
	border: solid black 1px;
	border-radius: 5px;
}

button:hover {
	background-color: black;
	color: white;
	cursor: pointer;
}