@media screen and (max-device-width: 480px){

main {
	margin-top: 15%;
	margin-bottom: 5%;
	background-color: transparent;
}

#team {
 	display: flex;
 	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	width: 95%;
	margin: auto;
}

.teammate {
	text-align: center;
	max-width: 100%;
	min-width: 35%;
	margin: 5%;
	padding: 2%;
	border: 2px solid black;
	background-color: #CCCCCC;
}

.teammate p {
	text-align: justify;
}

img {
	width: 40%;
}















}